.cartas{
    border: 2px solid lightseagreen;
    border-radius: 10px;
}

.cartas:hover{
    box-shadow: 0 0 20px lightseagreen;
    cursor: pointer;
}

.img {
    border-radius: 10px 10px 0 0;
}

.contenido{
    padding: 10px;
}

.badge{
    top: 5px;
    right: 20px;
    font-size: 17px;
}

